---
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
export async function getStaticPaths() {
    return [
        {
            params: { slug: "introduccion_al_curso" },
            props: {},
        },
    ];
}

const item_detalles = [
    { text: "Acceso a la plataforma educativa" },
    { text: "4 Retos prácticos con LEGO WeDo 2.0" },
    { text: "Acompañamiento durante toda la misión" },
    { text: "Certificación digital al finalizar" },
];

const item_aprende = [
    { text: "Programar controladores básicos" },
    { text: "Integrar sensores" },
    { text: "Aplicar pensamiento lógico y computacional" },
    { text: "Relacionar la robótica con situaciones reales" },
    { text: "Desarrollar trabajo colaborativo y creativo" },
];

const item_capitulos = [
    {
        title: "Capítulo 1",
        subtitle: "Introducción",
        items: [
            {
                title: "Introducción a las animaciones en CSS",
                duration: "1m 45s",
            },
            { title: "Tipos de animación en CSS", duration: "14s" },
            { title: "¡Practica lo que aprendimos!", duration: "" },
        ],
    },
    {
        title: "Capítulo 2",
        subtitle: "Transiciones Básicas",
        items: [
            { title: "Cómo funcionan las transiciones", duration: "2m 10s" },
        ],
    },
];
---

<Layout>
    <section
        class="grid md:grid-cols-5 grid-cols-1 gap-4 pt-36 pb-12 max-w-7xl mx-auto md:px-0 px-4"
    >
        <div class="col-span-3">
            <div
                class="p-12 relative backdrop-blur-xs rounded-xl shadow-lg shadow-bgPrimary/30"
            >
                <Icon
                    name={"certificate"}
                    size={60}
                    class="text-bgPrimary absolute right-4 top-2 animate-tada animate-iteration-count-infinite"
                />
                <!-- Imagen difuminada de fondo -->
                <div class="absolute inset-0 -z-10">
                    <img
                        src="/images/programas/programa1.png"
                        alt="Fondo"
                        class="w-full h-full object-cover blur-xs opacity-40"
                    />
                </div>
                <span
                    class="text-bgPrimary drop-shadow-md text-sm font-semibold"
                    >[ Misión 1 ]</span
                >
                <h1
                    class="text-2xl lg:text-3xl xl:text-4xl font-bold mb-4 leading-tight drop-shadow-md text-balance"
                >
                    Compra para desbloquear esta <span class="text-bgPrimary"
                        >misión</span
                    >
                </h1>
                <h2 class="text-lg drop-shadow-md text-gray-600">
                    Desata tu potencial en robótica y accede a formación
                    exclusiva.
                </h2>

                <div class="mt-4 grid grid-cols-2 gap-2 text-sm drop-shadow-md">
                    {
                        item_detalles.map((item) => (
                            <div class="border-[1px] border-bgPrimary/10 p-2 rounded-lg bg-bgPrimary text-white flex items-center gap-1 hover:scale-105 transition-all ">
                                <Icon
                                    name={"check"}
                                    class={"text-white"}
                                    size={22}
                                />
                                {item.text}
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="mt-12">
                <h1
                    class="text-2xl sm:text-3xl md:text-4xl font-bold text-balance"
                >
                    Introducción a la Robótica Educativa
                </h1>
                <p
                    class="mt-4 flex gap-2 items-center text-gray-600 drop-shadow-md text-balance text-lg"
                >
                    <Icon name={"target"} size={45} class="text-bgPrimary" /> Comprende
                    el funcionamiento de componentes robóticos y su integración con
                    el entorno, a través de actividades prácticas con LEGO WeDo 2.0.
                </p>
                <div class="mt-12 flex flex-col gap-6">
                    <div>
                        <h2 class="text-lg md:text-xl drop-shadow-md">
                            Lo que aprenderas
                        </h2>
                        <div class="flex flex-wrap mt-6 gap-2">
                            {
                                item_aprende.map((item) => (
                                    <div class="border-[1px] border-bgPrimary/10 p-2 rounded-lg bg-bgPrimary text-white flex items-center gap-1 hover:scale-105 transition-all text-sm">
                                        {item.text}
                                    </div>
                                ))
                            }
                        </div>
                    </div>
                    <div>
                        <h2 class="text-lg md:text-xl drop-shadow-md">
                            Contenido de la misión
                        </h2>
                        <div
                            class="flex items-center gap-2 text-brand-gray text-sm flex-wrap text-gray-500"
                        >
                            <span>1 secciones</span>
                            <span>•</span>
                            <span>1 clase</span>
                            <span>•</span>
                            <span>1h 28m de duración total</span>
                        </div>
                        <ul class="flex flex-col gap-3 mt-6">
                            {
                                item_capitulos.map((capitulo, index) => (
                                    <li class="rounded-lg shadow-md transition-all ">
                                        <details
                                            open={index === 0}
                                            class="group"
                                        >
                                            <summary class="cursor-pointer flex justify-between items-center p-4 rounded-md backdrop-blur-sm">
                                                <div>
                                                    <h1 class="text-bgPrimary font-semibold">
                                                        {capitulo.title}
                                                    </h1>
                                                    <h2 class="text-gray-500 drop-shadow-md text-sm">
                                                        {capitulo.subtitle}
                                                    </h2>
                                                </div>
                                                <Icon
                                                    name="arrow"
                                                    size={30}
                                                    class="text-bgPrimary transition-transform duration-300 group-open:rotate-90"
                                                />
                                            </summary>

                                            <div class="overflow-hidden transition-all duration-500 max-h-0 group-open:max-h-96 backdrop-blur-sm">
                                                <ul class="px-4 py-2">
                                                    {capitulo.items.map(
                                                        (item) => (
                                                            <li class="flex justify-between items-center py-1 last:border-0 hover:bg-bgPrimary/20 hover:backdrop-blur-md px-2 rounded-lg cursor-pointer">
                                                                <span class="text-gray-600">
                                                                    {item.title}
                                                                </span>
                                                                <span class="text-bgPrimary text-sm">
                                                                    {
                                                                        item.duration
                                                                    }
                                                                </span>
                                                            </li>
                                                        ),
                                                    )}
                                                </ul>
                                            </div>
                                        </details>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-span-2">
            <div
                class="p-12 relative backdrop-blur-xs rounded-3xl shadow-lg shadow-bgPrimary/30"
            >
                <h1 class="text-xl drop-shadow-dm">La misión incluye:</h1>
                <ul
                    class="mt-4 drop-shadow-md text-black/70 flex flex-col gap-2"
                >
                    <li class="flex justify-between font-bold">
                        <span class="font-bold flex items-center gap-1"
                            ><Icon
                                name={"play"}
                                size={15}
                                class=""
                            />Duración:</span
                        > 1h 28m
                    </li>
                    <li class="flex justify-between font-bold">
                        <span class="flex items-center gap-1"
                            ><Icon name={"speaker"} size={15} class="" /> Lenguaje:</span
                        > Español
                    </li>
                </ul>
                <ul
                    class="mt-4 w-full relative rounded-lg border border-bgPrimary bg-bgPrimary/10 flex justify-between overflow-hidden text-bgPrimary"
                >
                    <li
                        class="flex items-center justify-center flex-col flex-1"
                    >
                        <header
                            class="bg-bgPrimary flex items-center justify-center gap-2 px-2 py-1 w-full"
                        >
                            <span class="block text-xs text-white"
                                >Lecciones</span
                            >
                        </header>
                        <p class="py-2">29 clases</p>
                    </li>
                    <li>
                        <div class="h-full bg-bgPrimary w-[1px]"></div>
                    </li>
                    <li
                        class="flex items-center justify-center flex-col flex-1"
                    >
                        <header
                            class="bg-bgPrimary flex items-center justify-center gap-2 px-2 py-1 w-full"
                        >
                            <span class="block text-xs text-white">Nivel</span>
                        </header>
                        <p class="py-2">Intermedio</p>
                    </li>
                </ul>
                <button
                    class="w-full px-8 py-2 mt-4 bg-bgPrimary text-white hover:scale-105 transition-all rounded-lg text-lg"
                    >Empieza tu misión por <span
                        class="px-2 py-1 bg-white text-bgPrimary rounded-lg font-bold"
                        >$ 80.000</span
                    ></button
                >
                <p
                    class="mt-4 text-center text-gray-400 text-xs drop-shadow-md"
                >
                    Acceso inmediato después de la compra
                </p>
            </div>
            <div class="mt-12 flex flex-col gap-2">
                <h3 class="text-lg md:text-xl">Docente</h3>
                <header class="flex gap-3">
                    <img
                        src="/avatar/teacher.jpg"
                        class="w-20 h-14 rounded-2xl"
                        alt="Avatar Profersor"
                    />
                    <div>
                        <h4 class="text-bgPrimary">
                            Profersial que dicta la clase
                        </h4>
                        <p class="text-gray-500 text-sm">Profesion</p>
                    </div>
                </header>
                <p class="text-gray-600 drop-shadow-md text-balance">
                    Descripcion de lo que sabe el profesional.
                </p>
                <p class="flex items-center gap-x-1.5 drop-shadow-md">
                    <span>
                        <Icon
                            name={"robot"}
                            size={35}
                            class={"text-bgPrimary"}
                        />
                    </span>
                    +15 años de experiencia como Ingeniero de ?.
                </p>
            </div>
        </div>
    </section>
</Layout>
