---
const { itemData } = Astro.props;

---

<article
    class="rounded-xl border-[1px] border-bgPrimary shadow-md shadow-bgPrimary px-8 py-4 relative"
>
    <!-- Imagen difuminada de fondo -->
    <!-- <div class="absolute inset-0 -z-10">
        <img
            src="/images/fondo-lego.webp"
            alt="Fondo"
            class="w-full h-full object-cover blur-xs opacity-40"
        />
    </div> -->
    <div class="flex justify-between items-center">
        <h1 class="text-4xl text-bgPrimary font-bold">${itemData.price}</h1>
        <span class="border-bgPrimary border-[1px] text-black/50 w-8 h-8 flex items-center justify-center text-sm rounded-full">{itemData.edad}</span>
    </div>
    <h1 class="text-2xl drop-shadow-md mt-2">{itemData.title}</h1>

    <p class="text-sm text-gray-400 drop-shadow-md">{itemData.description}</p>
    <button
        class="w-full bg-bgPrimary px-8 py-2 mt-4 rounded-lg hover:scale-105 transition-all text-white"
        >Comprar ahora</button
    >
    <!-- <img src={itemData.image} width="250" alt="" class="absolute right-8 top-30 animate-bouncing animate-iteration-count-infinite animate-duration-[3200ms] hidden md:flex"> -->
</article>
